@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.mio-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: v.$gray-700;

    &:hover {
        background-color: v.$blue-light-100
    }

    &:active {
        background-color: v.$blue-light-200
    }

    &.btn-size-small {
        width: 32px;
        height: 32px;
    }

    &.btn-size-medium {
        width: 40px;
        height: 40px;
    }

    &.btn-size-large {
        width: 48px;
        height: 48px;
    }

    &.btn-size-xl {
        width: 52px;
        height: 52px;
    }

    &.svg-size-xs svg {
        width: 14px;
        height: 14px;
    }

    &.svg-size-small svg {
        width: 16px;
        height: 16px;
    }

    &.svg-size-medium svg {
        width: 20px;
        height: 20px;
    }

    &.svg-size-large svg {
        width: 24px;
        height: 24px;
    }

    &.svg-size-xl svg {
        width: 28px;
        height: 28px;
    }
}
