@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.quick-access-btn {
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: v.$blue-900;
    box-shadow: v.$shadow-md;

    @include m.desktop {
        width: 60px;
        height: 60px;
    }

    &.mail {
        bottom: 15px;
        right: 10px;
    }

    &.whatsapp {
        bottom: 80px;
        right: 10px;

        @include m.desktop {
            bottom: 90px;
        }
    }

    &:hover {
        background-color: v.$blue-800;
        box-shadow: v.$shadow-lg;
    }

    svg {
        color: v.$white;

        @include m.desktop {
            width: 30px;
            height: 30px;
        }
    }
}
