@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

body {
    font-family: v.$font;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: v.$white;
    color: v.$blue-900;
    scrollbar-width: none;

    &.noscroll {
        overflow: hidden;
        overflow-y: scroll;
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
        background-color: v.$gray-300;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: v.$gray-400;
    }
}

a {
    color: v.$blue-900;
}

img {
    width: auto;
    height: auto;
}

svg {
    width: 24px;
    height: 24px;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    font-weight: 400;

    li {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        list-style-position: inside;
    }
}

canvas {
    width: 100%;
    height: 100%;
}

input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
