@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.budget-sign {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .name,
    .date {
        span {
            font-weight: 400;
        }
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        overflow-y: auto;
        display: block;
    }

    table tr {
        border: 1px solid v.$slate-100;
    }

    table td,
    table th {
        padding: 12px 16px;
        white-space: nowrap;
    }

    table thead th {
        font-weight: 600;
        background-color: v.$slate-50;
    }

    table tbody td {
        font-weight: 400;
    }

    table tfoot tr {
        border: none;
    }

    table tfoot tr td {
        border: 1px solid v.$slate-100;
        font-weight: 600;
    }

    table tfoot tr td:first-child {
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    table tfoot tr td:nth-child(3) {
        background-color: v.$slate-50;
    }

    table tfoot tr td:nth-child(5) {
        background-color: v.$slate-50;
    }

    table tfoot tr td:nth-child(2) {
        border-bottom: none;
        border-left: none;
    }

    table tfoot tr td:nth-child(4) {
        border-bottom: none;
    }

    .w-100 {
        width: 100%;
    }

    .text-right {
        text-align: right;
    }
}

.budgeted {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .wrapper {
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 16px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: v.$blue-gray-200;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: v.$blue-gray-100;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
            height: 46px;

            @include m.tablet {
                height: 48px;
            }

            @include m.desktop {
                height: 50px;
            }

            tr th {
                min-width: 80px;
                padding: 0 10px;
                color: v.$blue-900;
                border-bottom: 1px solid v.$gray-200;
                text-align: left;
                font-weight: 500;
                font-size: 1.4rem;

                &:first-child {
                    width: 100%;
                }

                &:nth-child(2) {
                    min-width: 100px;
                }

                &:nth-child(4) {
                    min-width: 50px;
                }

                &:last-child {
                    min-width: 50px;
                }

                @include m.tablet {
                    min-width: 85px;
                    font-size: 1.5rem;

                    &:nth-child(2) {
                        min-width: 110px;
                    }

                    &:nth-child(4) {
                        min-width: 55px;
                    }

                    &:last-child {
                        min-width: 55px;
                    }
                }

                @include m.desktop {
                    min-width: 90px;
                    font-size: 1.6rem;

                    &:nth-child(2) {
                        min-width: 120px;
                    }

                    &:nth-child(4) {
                        min-width: 60px;
                    }

                    &:last-child {
                        min-width: 60px;
                    }
                }
            }
        }

        tbody {
            td {
                min-width: 80px;
                height: 46px;
                font-weight: 400;
                border-bottom: 1px solid v.$gray-200;

                &:first-child {
                    width: 100%;
                }

                &:nth-child(2) {
                    min-width: 100px;
                    input {
                        text-overflow: ellipsis;
                    }
                }

                &:nth-child(4) {
                    min-width: 50px;
                }

                &:last-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    min-width: 50px;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;

                        &:hover {
                            background-color: v.$blue-light-100;
                        }

                        &:active {
                            background-color: v.$blue-light-200;
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                            color: v.$gray-700;
                        }
                    }
                }

                @include m.tablet {
                    min-width: 85px;
                    height: 48px;

                    &:nth-child(2) {
                        min-width: 100px;
                    }

                    &:nth-child(4) {
                        min-width: 55px;
                    }

                    &:last-child {
                        min-width: 55px;
                    }
                }

                @include m.desktop {
                    min-width: 90px;
                    height: 50px;

                    &:nth-child(2) {
                        min-width: 120px;
                    }

                    &:nth-child(4) {
                        min-width: 60px;
                    }

                    &:last-child {
                        min-width: 60px;
                    }
                }

                input {
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                    border: none;
                    color: v.$blue-900;
                    font-weight: 400;
                    font-size: 1.4rem;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: v.$gray-300;
                    }

                    &.error::placeholder {
                        color: v.$red-600;
                    }

                    @include m.tablet {
                        font-size: 1.5rem;
                    }

                    @include m.desktop {
                        font-size: 1.6rem;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                }
            }
        }

        tfoot {
            height: 46px;

            @include m.tablet {
                height: 48px;
            }

            @include m.desktop {
                height: 50px;
            }

            tr td {
                padding: 0 10px;
                color: v.$blue-900;
                font-weight: 500;
                font-size: 1.4rem;

                @include m.tablet {
                    font-size: 1.5rem;
                }

                @include m.desktop {
                    font-size: 1.6rem;
                }

                &:first-child {
                    text-align: right;
                }
            }
        }
    }
}
