@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.treatment {
    padding: 20px 0;

    @include m.mobile {
        padding: 30px 0;
    }

    @include m.tablet {
        padding: 40px 0;
    }

    @include m.desktop {
        padding: 50px 0;
    }

    @include m.desktopXL {
        padding: 60px 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .row {
            display: flex;
            gap: 40px;
            flex-direction: column;

            @include m.tablet {
                flex-direction: row;
                gap: 60px;
            }
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1 1 50%;
        }

        h2 {
            font-size: 1.8rem;

            @include m.mobile {
                font-size: 2rem;
            }

            @include m.tablet {
                font-size: 2.2rem;
            }

            @include m.desktop {
                font-size: 2.4rem;
            }

            @include m.desktopXL {
                font-size: 2.6rem;
            }
        }

        ul.custom-list {
            gap: 15px;
            line-height: 1.6;
            letter-spacing: -0.05rem;

            li {
                gap: 10px;
                text-align: justify;

                svg {
                    align-self: flex-start;
                    min-width: 24px;
                    min-height: 24px;
                    margin-top: 4px;
                }
            }
        }

        ul.standard-list,
        ol.standard-list {
            list-style: initial;
            font-weight: 400;

            li {
                display: list-item;
            }
        }

        p {
            padding: 8px 0;
            text-align: justify;
            font-weight: 400;

            @include m.tablet {
                padding: 12px 0;
            }
        }

        a {
            text-decoration: underline;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        blockquote {
            padding: 20px 40px;
            background-color: v.$blue-light-100;
            border-left: 4px solid v.$blue-900;
        }

        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        table td,
        table th {
            border: 1px solid v.$blue-gray-100;
            padding: 10px;
        }

        table thead th {
            font-size: 1.6rem;
            font-weight: 500;
            background-color: v.$blue-gray-50;
        }

        table tbody td {
            font-size: 1.6rem;
            font-weight: 400;
        }

        .image-right,
        .image-left {
            width: 60%;
            max-width: 500px;
        }

        .image-right {
            float: right;
            margin: 12px 0 12px 24px;
        }

        .image-left {
            float: left;
            margin: 12px 24px 12px 0;
        }
    }
}
