@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.main-header {
    .menu {
        justify-content: center;
        align-items: flex-start;
        z-index: 600;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.in .container {
            opacity: 1;
            transform: translateY(0px);
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }

        &.out .container {
            opacity: 0;
            transform: translateY(6px);
            transition-duration: 0.15s;
            transition-timing-function: ease-in;
        }

        .container {
            overflow: hidden;
            max-width: 448px;
            height: auto;
            margin-top: 80px;
            margin-left: -260px;
            background-color: v.$white;
            border: 1px solid v.$gray-100;
            border-radius: 8px;
            box-shadow: v.$shadow-lg;
            transition-property: opacity, transform;
            transition: all 0.3s ease;

            @include m.desktopXL {
                margin-top: 90px;
                margin-left: -360px;
            }

            .body {
                display: flex;
                flex-direction: column;
                padding: 20px;

                a {
                    display: flex;
                    gap: 16px;
                    padding: 12px;
                    border-radius: 8px;

                    &:hover {
                        background-color: v.$gray-50;
                    }

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        
                        img {
                            min-width: 42px;
                            min-height: 42px;
                        }

                        svg {
                            min-width: 24px;
                            min-height: 24px;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .title {
                            font-size: 1.6rem;
                            color: v.$gray-900;
                        }

                        .description {
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: v.$gray-500;
                        }
                    }
                }
            }

            .footer {
                display: flex;
                gap: 30px;
                background-color: v.$gray-50;
                padding: 10px 20px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 20px;
                    font-size: 1.6rem;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }

                .button {
                    border-radius: 8px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: v.$gray-100;
                    }
                }
            }
        }
    }
}
