@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

aside.sidebar {
    display: none;
    z-index: 400;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.3);

    @include m.mobile {
        top: 70px;
    }

    @include m.tablet {
        top: 80px;
    }

    @include m.desktop {
        top: 90px;
    }

    @include m.desktopXL {
        top: 100px;
    }

    &.active {
        display: block;
    }

    &.in {
        animation: fadeIn 0.3s ease;

        .container {
            animation: slideInRight 0.3s ease forwards;
        }
    }

    &.out {
        animation: fadeOut 0.3s ease;

        .container {
            animation: slideOutRight 0.3s ease forwards;
        }
    }

    .container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        left: -270px;
        width: 270px;
        height: calc(100% - 60px);
        padding: 10px;
        background-color: v.$white;

        @include m.mobile {
            gap: 50px;
            left: -285px;
            width: 285px;
            height: calc(100% - 70px);
            padding: 15px;
        }

        @include m.tablet {
            gap: 60px;
            left: -300px;
            width: 300px;
            height: calc(100% - 80px);
        }

        @include m.desktop {
            top: 90px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 4px;

            a,
            button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                height: 46px;
                padding: 0 20px;
                font-size: 1.6rem;
                font-weight: 500;
                letter-spacing: -1px;
                border-radius: 6px;
                color: v.$blue-900;

                &:hover {
                    background-color: v.$blue-light-100;
                }

                @include m.mobile {
                    height: 48px;
                }

                @include m.tablet {
                    height: 50px;
                }

                &.active {
                    background-color: v.$blue-light-100;
                    svg {
                        transform: rotate(90deg);
                    }
                }

                svg {
                    width: 14px;
                    height: 14px;
                    transition: transform 0.3s ease;
                }
            }

            .collapse a {
                padding: 0 30px;
                font-weight: 400;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            a:first-child {
                display: flex;
                align-items: center;
                gap: 5px;
                height: 40px;
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: -1px;
            }
        }

        .social {
            display: flex;
            justify-content: center;
            gap: 20px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: v.$blue-light-100;
                }
            }
        }
    }
}
